.forgot-password {
    background-color: #f5f5f5;
    padding: 80px;
}

.forgot-password-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgot-password__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.forgot-password__input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.forgot-password__button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0px 10px;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}