.product-detail {
    padding: 50px;
    display: flex;
}

.product-detail__image {
    flex: 1;
    height: 700px;
}

.product-detail__info {
    flex: 1;
    padding: 0px 50px;
}

.product-detail__info__title {
    font-weight: 200;
}

.product-detail__info__description {
    margin: 20px 0px;
}

.product-detail__info__price {
    font-weight: 100;
    font-size: 40px;
}

.product-detail__info__price span {
    font-size: 25px;
    font-weight: 400;
    text-decoration-line: line-through;
    text-decoration-thickness: 1px;
}

.product-detail__filter-container {
    width: 50%;
    margin: 30px 0px;
}

.product-detail__filter-container__filter {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.product-detail__filter-container__filter__title {
    font-weight: 200;
    margin-right: 10px;
    font-size: 20px;
}

.product-detail__filter-container__filter__color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
}

.product-detail__filter-container__filter__options {
    margin-left: 10px;
    padding: 5px;
}

.product-detail__info__add-to-card-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-detail__info__add-to-card-container__quantity-container {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.product-detail__info__add-to-card-container__quantity-container__quantity {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.product-detail__info__add-to-card-container__add-to-card {
    padding: 15px;
    border: 2px solid teal;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
}

.product-detail__info__add-to-card-container__add-to-card:hov {
    background-color: #f8f4f4;
}

.product-detail__info__rating-container {
    margin: 20px 0px;
    display: flex;
}
.product-detail__info__rating{
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    font-weight: bolder;
}